<!-- <p id="notice"><%= notice %></p> -->

<h1>Full name: <%= @user.full_name %> </h2> 

<ul>
  <li>
    <strong>Email: <%= @user.email %> </strong>            
  </li>
  <li>      
    <strong>Location:</strong>
    <%= @user.location %>      
  </li>
  <li>      
    <strong>Bio:</strong>
    <%= @user.bio %>
  </li>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> 

