<!-- <p id="notice"><%= notice %></p> -->
<h1>
  <strong>Title:</strong>
  <%= @room.title %>
</h1>
<ul>
  <li>
    <strong>Location:</strong>
    <%= @room.location %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @room.description %>
  </li>
</ul>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> 
